/* grid setup */
#container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
}

/* Dynamic generated items */
.item {
    border: 1px solid black;
}

/* Hover effect */
.hoverItem {
    background-color: black;
    transition: 0.5s;
}
