/* grid setup */
#container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 480px;
    width: 480px;
    border: 1px solid black;
}

/* Dynamic generated items */
.item {
    height: 30px;
    width: 30px;
    background-color: black;
    opacity: 0;
}

/* Hover effect */
.blackItem {
    background-color: black;
    transition: 0.5s;
}
